<!-- <p>Welcome to the {{title}} app!</p> -->
<!-- {{title}} is "defined" in routes/index -->
<p>Welcome to the {{title}} app!</p>
<p>Welcome to the {{title}} app!</p>

<!--
<p>Welcome to the fucking app!</p> //this works
<p>Welcome to the another fuck app!</p>
<p>Welcome to the {{title}} app!</p>
<p>why this does not work</p>
-->
